<div class="window-overlay"></div>
<div class="card-container">
  <a class="close-card" href="#"><i class="fa fa-times fa-2x"></i></a>
  {{#with card}}
    <div class="header">
      <span><i class="fa fa-list-alt fa-lg"></i></span>
      <textarea class="title formated" rows="1">{{title}}</textarea>
    </div>
    <div class="detail-main">
    <p class="u-inline-block">in list {{list_title}}</p>
    {{#if labels}}
      <h3>Labels</h3>
      <ul class="labels">
        {{#each labels}}
        <li class="label" style="background: {{color}};"></li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if due_date}}
    <div class="card-due-date">
      <h3 class="card-detail-item-header">Due Date</h3>
      <span class="card-detail-badge">{{format_date due_date}}</span>
    </div>
    {{/if}}
    <div class="description">
      {{#if description}}
        <h3>Description <a href="#">Edit</a></h3>
        <p>{{description}}<p>
      {{else}}
        <div class="quiet-button">
          <span><i class="fa fa-align-left"></i></span>
          <a href="#">Edit the description...</a>
        </div>
      {{/if}}
    </div>
    <div class="description-form">
      <form>
        <textarea>{{description}}</textarea>
        <div class="form-controls">
          <input type="submit" value="Save">
          <a class="close" href="#"><i class="fa fa-times fa-2x"></i></a>
        </div>
      </form>
    </div>
  </div>
  {{/with}}
  
  <div class="details">
    <section class="add-comment">
      <div class="window-module-title">
        <span><i class="fa fa-comment-o fa-lg"></i></span>
        <h1>Add Comment</h1>
      </div>
      {{#with card}}
        <form action="/cards/{{id}}/comments" method="post">
          <textarea class="comment-input" placeholder="Write a comment..." name="comment" autocomplete="off"></textarea>
          <input type="submit" value="Send">
        </form>
      {{/with}}
    </section>
    <section class="activity">
      <div class="window-module-title">
        <span><i class="fa fa-list fa-lg"></i></span>
        <h1>Activity</h1>
      </div>
      <ul class="activities">
        <li>
          {{#each comments}}
            <section class="comment" data-id="{{id}}">
              <h3>Member Name</h3>
              <p>{{text}}</p>
              <footer>{{date}} - <a class="edit" href="#">Edit</a> - <a class="delete" href="#">Delete</a></footer>
            </section>
          {{/each}}
          {{#with card}}
            {{#if due_date}}
              <section class="change-duedate">
                <h3>Member Name</h3>
                <p>changed the due date of this card to {{format_date due_date}}</p>
              </section>
            {{/if}}
          {{/with}}
        </li>
      </ul>
    </section>
  </div>
  <aside>
    <section class="add">
      <h1>Add</h1>
      <ul>
      <ul class="actions">
        <li class="action tag"><span><i class="fa fa-tag"></i></span>Labels</li>
        <li class="action date"><span><i class="fa fa-calendar"></i></span>Due Date</li>
      </ul>
    </section>
    <section class="card-actions">
      <h1>Actions</h1>
      <ul class="actions">
        <li class="action move"><span><i class="fa fa-arrows"></i></span>Move</li>
        <li class="action copy"><span><i class="fa fa-clone"></i></span>Copy</li>
        <li class="action subs">
          <span><i class="fa fa-eye"></i></span>Subscribe
          {{#with card}}
            {{#if subscribed}}
            <span><i class="fa fa-check"></i></span>
            {{/if}}
          {{/with}}
        </li>
        <li class="action archive"><span><i class="fa fa-archive"></i></span>Archive</li>
      </ul>
    </section>
  </aside>
</div>